<div class="prices-bg-img" >
  <img src="../images/four_paws_4c.png" alt="logo-image" id="logo">
  {{!-- <img src="../images/lions.jpg" alt="background image"> --}}
</div>


    <div class="row justify-content-around">

      <div class="container col-12 ">


        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- Bootstrap Card -->
              <div class="card">
                {{#each animal}}
                <h1 class="h1-card">{{{foodcost}}}</h1>
                <div class="card-body">

                  <h5 class="card-title">{{name}}</h5>
                  <p class="card-text">
                    {{description}}</p>


                </div>
                <div class="btn-box">
                  <a href="#" class="btn btn-primary"
                    style="background-color:#ea5b0c; border-color: #ea5b0c; box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3); width:200px; height: 40px; display: flex; justify-content: center; align-content: center; padding-top: 5px; margin-left: 20%; "><strong>Feed
                      an animal</strong></a>


                </div>
              </div>

            </div>
          </div>
        </div>

        {{/each}}

      </div>
    </div>
  </div>
</div>



<div class="bg-modal">
  <div class="modal-content">
    <div class="close">
      +
    </div>
    <img id="order-logo" src="../images/four_paws_4c_100.png" alt="logo">

    <form action="/orderform" id="orderForm" method="POST">
      <h3><strong>Personal Information</strong></h3>
      <select class="order-input" name="gender" required aria-describedby="errorgender">
        <option value>Select Gender*</option>
        <option value="female">Female</option>
        <option value="male">Male</option>
        <option value="private">Private</option>
        <small class="errorgender">Gender is required</small>
      </select>
      <label class="order-input-label" for="email">Email*</label>
      <input id="email" class="order-input" type="email" name="email" placeholder="example@domain.com" required>

      <label class="order-input-label" for="firstname">Name*</label>
      <input type="text" class="order-input" id="firstname" name="firstname" required minlength="4" maxlength="15" size="10" placeholder="First Name">

      {{!-- <label class="order-input-label" for="firstname">Last Name*</label> --}}
      <input id="age-input" class="order-input" type="text" name="lastname" placeholder="Last Name">

      <label class="order-input-label" for="age-input">Phone Number*</label>
      <input id="age-input" class="order-input" type="number" name="age" placeholder="(999) 000-0000">

      <a href="#" class="btn btn-primary"
        style="background-color:#ea5b0c; border-color: #ea5b0c; justify-content: center; align-items: center; box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3); position: relative; margin-left: 32%; margin-top: 10px; width: 150px">Send
        order form</a>

    </form>
  </div>
</div>