<div class="pic-bar">
  <img src="images/four_paws_4c.png" alt="logo-image" id="logo-float"><a href="https://four-paws.org"></a>
  {{>subscribe}}
  <h1 class="h1-card-ty">{{animal.name}}</h1>

  <img src="{{animal.bgimg}}" alt="logo-image" id="cover-img">
</div>
<div class="container-plan">

  <div class="container-pr">
    <div class="pr-card">
      <div class="regular" style="">REGULAR</div>
      <div class="plan-msg">
        <p>PLAN:</p>
        <p class="pay-options">GIVE ONE MEAL</p>
      </div>
      <div class="pr-msg">

        <h2><sup><span class="euro">€</sup></span>{{plan.once}}<span style="font-size:20px">.00</span></h2>
        <hr size="4" color="#dedede" width="350px" align="center">
        <p>Help animals around the world one meal at a time.</p>
        <div class="btn-feed">
          <button class="btn btn-primary feed-button" id="once-btn" data-plan= "once"
            style="width: 250px; height: 55px; margin-left:20px;"><strong>FEED TODAY</strong></button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-pr">
    
    <div class="pr-card">
      <div class="most-popular"><span>&#9733;</span> POPULAR <span>&#9733;</span></div>
      <div class="plan-msg">
        <p>PLAN:</p>
        <p class="pay-options">GIVE MONTHLY</p>
      </div>
      <div class="pr-msg">
        <h2><sup><span class="euro">€</sup></span>25<span style="font-size:20px">.00</span></h2>
        <hr size="4" color="#dedede" width="350px" align="center">
        <p>Adopt and receive pics and updates!</p>
               
        <div class="btn-feed">
          <button class="btn btn-primary feed-button" id="monthly-btn" data-plan = "month" data-animal ="monkey"
            style="width: 250px; height: 55px; margin-left:26px"><strong>FEED MONTHLY</strong></button>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="bg-modal">
  <div class="modal-content">
    <div class="close">
      +
    </div>
    <img id="order-logo" src="../images/four_paws_4c_100.png" alt="logo">

    <form action="/donate?animal={{name}}" id="orderForm" method="POST">

      <input type="radio" name="plan" value="once"> Once <span class="order-radius"></span>
      <input type="radio" name="plan" value="monthly"> Monthly<br>
      <h3 class="order-h3"><strong>Personal Information</strong></h3>

      <select class="order-input" name="gender" required aria-describedby="errorgender" style="background-color: white">
        <option value=>Select Gender*</option>
        <option value="female">Female</option>
        <option value="male">Male</option>
        <option value="private">Private</option>
        <small class="errorgender">Gender is required</small>
      </select>
      <label class="order-input-label" for="email">Email*</label>
      <input id="email" class="order-input" type="email" name="email" placeholder="example@domain.com" required>

      <label class="order-input-label" for="firstname">Name*</label>
      <input type="text" class="order-input" id="firstname" name="firstname" required minlength="4" maxlength="15"
        size="10" placeholder="First Name">
      <input id="lastname" class="order-input" type="text" name="lastname" placeholder="Last Name">

      <label class="order-input-label" for="number-input">Phone Number*</label>
      <input id="number-input" class="order-input" type="number" name="number" placeholder="(999) 000-0000">
      <input type="submit" value="Send Meal" class="btn btn-primary" style="margin-left: 25%">


    </form>
  </div>
</div>

<script src="/javascripts/popup.js"></script>