<div class="pic-bar">
  <img src="images/four_paws_4c.png" alt="logo-image" id="logo-float">
  <a href="#" class="btn btn-primary"
    style="background-color:#ea5b0c; border-color: #ea5b0c; box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3); margin-left: 80%; margin-top: 2%; width: 150px; position: absolute">Subscribe</a>


  <h1 class="h1-card-ty">ORANGUTAN</h1>
  <img src="../images/orangutans_2.jpg" alt="logo-image" id="cover-img">
</div>

<div class="container-ty">
  <div class="ty-card">
    <div class="success-msg">
      <img src="../images/hand-icon.png" alt="hand-icon" class="success-img">
      <p>Your payment was</p>
      <p class="successful">SUCCESSFUL</p>
    </div>
    <div class="ty-msg">
      <h2>You've helped feed<br>{{name}}!</h2>
      <hr size="4" color="#dedede" width="40%" align="center">
      <p>Your support makes all the difference for animals like {{name}}, who have no voice to speak for themselves. Sign
        up for our newsletter and find out more about ways you can get involved!</p>
    </div>
  </div>
</div>