.formBigcontainer {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  padding-left: 25%;
  display: block;
}

.border-formContainer {
  background-color: white;
  padding: 10px;
  border: 1px solid #e5e3e3;
  margin-top: 0px;
  z-index: 1;
  position: relative;
  border-radius: 10px;
  height: 40vw;
  width: 40vw;
}

.formContainer {
  padding: 30px;
  background-color: #c7d4e3;
  z-index: 9999;
  position: relative;
  height: 40vw;
  width: 40vw;
  border-radius: 5px;
}

#orderForm {
  display: block;
}

.error {
  display: block;
  font-size: .75rem;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 1rem;
  padding: .375rem .5625rem .5625rem;
  background: #f04124;
  color: #fff;
}

.order-h3 {
  color: #2f3d4a;
  font-size: 16px;
  font-weight: bolder;
  margin-top: 8px;
  text-align: left;
  margin-left: 58px;
}

#btn-order {
  background-color: #ea5b0c;
  border-color: #ea5b0c;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 5px;
  margin-left: 20%;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 400px;
  height: 600px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 30px;
  position: relative;

}

.order-input {
  width: 70%;
  display: block;
  margin: 15px auto;

}

.order-radius {
margin-left: 15px;


}

.order-input-label{
  width: 70%;
  display: block;
 text-align: left;
 margin-left: 59px;
 margin-bottom: -8px;


}

.close {
  position: absolute;
  top:0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;

}

#order-logo {
width: 80px;
height: 80px;
margin: 15px auto;

}

/* .prices-bg-img{
background-image: "../images//lions.jpg";
background-size: cover;
height: 400px;
} */

.fa-info-circle {
  color: rgba(255, 255, 255, 0.9);
  
}