body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container{
  margin-top: 8%;
  margin-left: 8%;
}

.card:hover{
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

.card{
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  padding:0px;
}
.video {
  width: 200px;
  height: 300px;
}



