body {
  padding: 0px;
  font: 14px;
  margin: 0px;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}

#title{
  font-size: 5em;
  font-weight: 900;
  text-align: center;
  
}

a {
  color: #00B7FF;
}

.btn-primary {
  background-color: #ea5b0c;
  border-color: #ea5b0c;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 5px;
  margin-left: 20%;
  text-align: center;
}

.btn-primary:hover {
  background-color:#da4e03;
  border-color: #da4e03;
 
}

/* .container {
  padding-top: 0.7%;
} */

.card:hover {
  -webkit-box-shadow: -1px 9px 20px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 20px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 20px -12px rgba(0, 0, 0, 0.75);
}

.card {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.video {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.animal-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.flex-container {
  display: flex;
  margin: 0 5%;
}

.slick-prev {
  color: red;
}

.grey-bar {
  height: 90px;
  width: 100vw;
  background-color: #dedede;
  padding: 0px;
  margin: 0px
}

#logo {
  margin: 20px;
  padding-left: 5%;
}

.grey-half {
  height: 425px;
  width: 100vw;
  background-color: #dedede;
  padding: 0px;
  margin: 0px
}

.prev {
  float: left;
  margin-left: -5%;
  margin-top: 24%;
}

.next {
  float: right;
  margin-right: 1.2%;
  margin-top: 24%;
}

.h1-card {
  color: white;
  font-family: "Source Sans Pro";
  margin-top: -95%;
  margin-bottom: 80%;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.5em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3)
}

.order-half {
  height: 400px;
  width: 100vw;
  background-image: "./images/lions.jpg";
  background-size: cover;
  padding: 0px;
  margin: 0px
}

.pic-bar {
  height: 300px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  /* background-image: url("../images/orangutans_3.jpg") no-repeat top left;
  background-size: cover; */
  position: relative;
}

#logo-float {
  position: absolute;
  margin: 20px;
  padding-left: 5%;
}

#cover-img {
  width: 100vw;
  height: 450px;
  object-fit: cover;
}


.pay-options {
  color: grey;
  font-size: 1.3em;
}

.success-img {
  margin-bottom: 15px;
}

.hide {
  display: none;
}

.card-text {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  color: #919191;
  
}

.card-text:last-child {
  margin-bottom: 50px;
}

.card-title {
  margin-left: 20px;
}

.hp-title {
  font-size: 3em;
  display: flex;
  justify-content: center;
  margin-top: -70px;
  padding-bottom: 40px;
  font-family: 'Rock Salt', cursive;

}